.App{
  align-content: center;
}
.App-nav {
  background-color: coral;
}
.task-container {
  background-color: coral;
  align-content: center;
  padding: 50px;
}
.header-font{
  font-family:'Courier New', Courier, monospace;
}
.pixel-art {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}