.add-goal{
    padding: 20px;
}

.newGoal-button {
    border:0px;
    background-color: #a59b9a;
    cursor: pointer;
    padding: 10px;
    font-family:'Comic Sans MS', "Comic Sans", serif;
}

.listed-goal{
    border: 2px solid black;
}

