.Goal-Modal-Container {
    z-index : 1;
    border: 1px solid black;
    font-family:'Comic Sans MS', "Comic Sans", serif;
}

.goal-modal {
    align-items: center;
}

.form-input {
    padding:3px;
    font-family:'Comic Sans MS', "Comic Sans", serif;
}

.submit-button {
    border:0px;
    cursor: pointer;
    padding-bottom: 1px;
}